<div class="modal" tabindex="-1">
    <div class="modal-dialog" style="width: 450px;">
        <div class="modal-content" ng-controller="VersionExpiredModalController">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="closeModal()">
                    &times;
                </button>
                <h4 class="modal-title">{{'login.version_expired'|translate}}</h4>
            </div>
            <div>
                <div class="modal-body" style="height: 200px;">

                <div>{{'login.version_expired_download_new'|translate}}</div>
                <div>&nbsp;</div>
                    <div class="vc_row wpb_row vc_inner vc_row-fluid">
                            <div class="wpb_column vc_column_container col-md-6" style="padding-left:0px;padding-right:0px">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center">
                                            <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-size-xl vc_icon_element-style- vc_icon_element-background-color-grey" style="text-align: center;">
                                                <a href="{{versionExpiredUrl}}/i" target="_blank">
                                                <span style="" class="vc_icon_element-icon"><img width=64 src="../img/logo-en.png" /></span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <h6 style="text-align: center;">
                                                    <a href="{{versionExpiredUrl}}/crx/download" target="_blank">
                                                    {{'options.layout.maikr_official_website'|translate}}
                                                    </a>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                            <div class="wpb_column vc_column_container col-md-6" style="padding-left:0px;padding-right:0px">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="vc_icon_element vc_icon_element-outer vc_icon_element-align-center">
                                            <div class="vc_icon_element-inner vc_icon_element-color-custom vc_icon_element-size-xl vc_icon_element-style- vc_icon_element-background-color-grey" style="text-align: center;">
                                                <a href="https://chrome.google.com/webstore/detail/maikr/ffgfolalmnpdicmjfhepcfeokldcmiod" target="_blank">
                                                <span class="vc_icon_element-icon"><img style="margin-top: 10px;" width=64 src="../img/google_chrome_store.jpg" /></span>
                                                </a>
                                            </div>

                                        </div>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                
                                                    <a href="https://chrome.google.com/webstore/detail/maikr/ffgfolalmnpdicmjfhepcfeokldcmiod" target="_blank">
                                                    <h6 style="text-align: center;">
                                                    {{'options.layout.google_chrome_store'|translate}}</h6>
                                                    </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
 
                        </div>



                </div>
            </div>
        </div>
    </div>
</div>
