<div class="modal"  tabindex="-1">
    <div class="modal-dialog" style="width: 600px;">
        <div class="modal-content" ng-controller="AboutClientUsernamePasswordModalController">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    ng-click="closeModal()">
                    &times;
                </button>

                <h4 class="modal-title">{{'options.layout.about_client_username_password_modal.title'|translate}}</h4>
            </div>
            <form ng-submit="onSubmit()">
                <div class="modal-body">
                    <div style="margin-bottom:10px">
                        {{'options.layout.about_client_username_password_modal.desc'|translate}}

                    </div>
                    <div>
                        <img class="" alt="" src="/img/username_password_proxy.png" width="300">
                    </div>
                    <small style="padding-top:10px;color:#999;">

                        {{'options.layout.about_client_username_password_modal.more_info'|translate}} 

                    </small>
                </div>
                <div class="modal-footer" style="margin-top:0;">
                    <button type="submit" class="btn btn-primary pull-right">
                        {{'common.got_it'|translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
