
<div class="page" style="margin:0; min-height: 300px;max-height:500px;width: 480px;overflow: auto">
    <div style="background-color: #eeeeee; color:black;padding: 10px;">
      <div class="left_arrow" ng-click="gotoPopup()"></div>

      <div class="section" style="margin-top:0px">

          <span class="section-title" style="font-size:16px" translate="popup.notifications.title"></span>
      </div>

    </div>
    <div ng-repeat="notification in notifications" class="row clearfix multi-section-renderer" style="margin-left:-15px;margin-right: 0px;padding: 12px;" ng-mouseover="notification_mouseover=true" ng-mouseleave="notification_mouseover=false">
        <ng-init ng-init="notification_mouseover=false"> </ng-init>
                        <div class="col-xs-3">
                            <div>
                                <div aria-hidden="true" title="{{'options.layout.frequent_domain_alert.website.google'|translate}}">
                                    <img alt="" src="{{notification.avatar}}" width="86">
                                </div>
                           
                            </div>
                        </div>
                        <div class="col-xs-8" style="padding-left:0px;">
                            <div style="margin-left:8px;">
                                <div style="margin-bottom:8px;font-size:14px">
                                  {{ notification.title }}
                                </div>
                                <div style="font-size:12px;color:#999">
                                    {{ notification.shortDescription }}
                                </div>
                            </div>
                        </div>
                       
                        <div class="col-xs-1">

                            <i class="fa fa-close fa-renderer" ng-show="notification_mouseover" ng-click="markHided(notification)" style="cursor:pointer; font-size: 14px; right: 4px;float: right; color: #5e5e5e;margin-right: 0px;padding:3px"></i>
                            
 
                        </div>
                  
          </div>

          <div class="" style="position: absolute; top: 40px; bottom: 0; left: 0; right: 0;text-align: center;" ng-show="!notifications.length"> 
                        <i class="fa fa-bell" style="font-size: 36px;color: #eeeeee;margin-top: 12px;margin-right: 2px;padding:4px"></i>
                        <div style="margin-top:8px">
                            {{'options.layout.no_more_notifications'|translate}}
                        </div>
                    </div>
</div>
<!--

-->