<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">

<div class="wpb_wrapper">
<h1>Terms of Service</h1>
<p>This policy outlines the Maikr&nbsp;terms and conditions of usage. By signing up with and/or utilizing any Maikr&nbsp;service, you agree to be bound by the following terms of this document and the terms of the other named policies included herein by reference and to keep updated on changes as these policies may change at any time.</p>
<h2>Reasonable Use Policy:</h2>
<p>Maikr&nbsp;desires all members reasonably use its service. To that end, any customer who puts unreasonable demands upon the service may be curtailed in order to ensure the best possible service for all members.</p>
<p>If a member appears to be unable to maintain a reasonable use of the service, or engages in any Prohibited Activities provided for below, Maikr&nbsp;may cancel, suspend or decline to renew service for that member without notice. A termination fee may also be assessed. It is within Maikr’s sole discretion to determine what comprises unreasonable use.</p>
<h2>Individual Maikr&nbsp;Accounts:</h2>
<p>Maikr&nbsp;accounts are not dedicated connections and are subject to timing out the connection. Maikr&nbsp;accounts are for single user, individual use only. Any non-individual use, or any use that is indistinguishable from non-individual use, is prohibited. For example, the following uses are prohibited under this section:</p>
<ul>
<li>Sharing a login between people</li>
</ul>
<h2>Prohibited Activities:</h2>
<p>Maikr&nbsp;prohibits the use of any of its services in any of the following ways:</p>
<ul>
<li>Spamming (e-mail, Usenet, message boards, etc.)</li>
<li>Copyright, trademark, and patent infringement.</li>
<li>Defamatory or abusive language that advocates bigotry, religious, racial or ethnic hatred.</li>
<li>Publishing or sharing materials that are unlawfully pornographic or indecent</li>
<li>IP Spoofing</li>
<li>Illegal or unauthorized access to other computers or networks</li>
<li>Distribution of Internet viruses, worms or other destructive activities</li>
<li>Export control violations</li>
<li>All other illegal activities</li>
</ul>
<h2>Copyright Infringement and Illegal Content</h2>
<p>Maikr&nbsp;prohibits the use of any of its services to publish or share illegal content.Maikr takes copyright and other intellectual property rights very seriously, and we encourage you to do the same. You are responsible for determining the legal status of any intellectual property you use or copy through anyMaikr service.Maikr cannot and does not review the information flowing through its services. You agree to not transfer copyrighted works through the service without the express permission of the copyright holder.</p>
<h2>Trademarks</h2>
<p>Maikr graphics, logos, designs, page headers, button icons, scripts, and service names are trademarks, trademarks or trade dress of Maikr. Maikr’s trademarks and trade dress may not be used in connection with any product or service without the prior written consent of Maikr. Maikr images and icons may used by third party sites in connection with providing appropriate links to the Maikr website.</p>
<h2>Indemnify and Hold Harmless</h2>
<p>You are responsible for all actions that occur regarding your account. As a condition of service, you agree to indemnify and hold harmless Maikr, its officers, employees, agents, shareholders and partners for any cause of action out of your account with use or your use of the service.</p>
<h2>Refund Policy</h2>
<p>If you wish to claim a refund, you can do so within 7&nbsp;days* following your purchase of Maikr service. We want you to be fully satisfied with our services. However, many issues can contribute to sub-optimal performance (ISP, location, censorship, settings, etc). Maikr team will work to solve these issues as fast as we can, to satisfy users who experience sub-optimal performance. However, Maikr does not offer financial reimbursement due to these issues.There are several nuances to a Speedup service configuration and we solve 99% of issues encountered.</p>
<p>*Refund are not available for the payment via BITCOIN</p>
<p>Subscriptions purchased via iTunes/App Store and Google Play Store are subject to <a href="https://www.apple.com/legal/internet-services/itunes/us/terms.html">iTunes/App Store</a> and <a href="https://play.google.com/about/play-terms.html">Google Play Store</a> refund policies. This means, we cannot grant refunds if you purchased an app directly through the iTunes/App and Google Play stores.</p>
<p>Maikr reserves the right to suspend, terminate, or refuse service to anyone at any time for any reason. No refunds will be considered for accounts deleted for violation of our Terms of Service.</p>
<h2>Termination of Service:</h2>
<p>Maikr reserves the right to suspend, terminate, or refuse service to anyone at any time for any reason.</p>
<h2>Billing Information</h2>
<p>Your service will automatically be renewed at the end of each service period, repeating the length of the previous service period, unless you cancel. You can upgrade your service, downgrade your service, or cancel your service&nbsp;by using our online Control Panel</p>
<p>All accounts are renewed automatically until a cancellation request is received.</p>
<h2>Disclaimer of Warranties</h2>
<p>Maikr&nbsp;makes no representation, warranty, or guarantee as to the reliability, timeliness, quality, suitability, availability, accuracy or completeness of the Services. Maikr does not represent or warrant that (a) the use of the Services will be secure, timely, uninterrupted or error-free or operate in combination with any other hardware, software, system or data, (b) the Service will meet your requirements or expectations (c) errors or defects will be corrected, or (d) the Services are free of viruses or other harmful components. The Service is provided by Maikr on and “as is” “as available” basis without warranties of any kind, either expressed or implied, including without limitation, any implied warranty of merchantability, fitness for a particular purpose, or non-infringement of third-party rights, are hereby disclaimed to the maximum extent permitted by law. You expressly agree that use of the Services is at your sole risk.</p>
<h2>Cancellation</h2>
<p>Your Maikr service can only be canceled, by the required times specified below, by using our online Control Panel</p>
<p>Service cancellations must be entered prior to the end of the current service period in order for them to take effect before the service’s next renewal. Cancellations will take effect at the end of the service period in which they are submitted. Services renew at or shortly after 12:00 AM midnight, French Tilezone, on their renewal date.</p>
<h2 class="subheading2">Release And Indemnity</h2>
<p>You hereby expressly and irrevocably release and forever discharge Maikr, its affiliated and associated companies, and their respective directors, officers, employees, agents, representatives, independent and dependent contractors, licensees, successors and assigns of and from any and all actions, causes of action, suits, proceedings, liability, debts, judgments, claims and demands whatsoever in law or equity which you ever had, now have, or hereafter can, shall or may have, for or by reason of, or arising directly or indirectly out of your use of the Services</p>
<p>You hereby agree to indemnify and hold harmless Maikr, its affiliated and associated companies, and their respective directors, officers, employees, agents, representatives, independent and dependent contractors, licensees, successors and assigns from and against all claims, losses, expenses, damages and costs (including, but not limited to, direct, incidental, consequential, exemplary and indirect damages), and reasonable attorneys’ fees, resulting from or arising out of (i) a breach of this Agreement, (ii) the use of the Services, by You or any person using your account, or (iii) any violation of any rights of a third party.</p>
<h2>Policy Changes</h2>
<p>Maikr&nbsp;reserves the right to revise, supplement or rescind any of our policies or terms of service at any time, without prior notice. It is the member’s sole responsibility to remain informed of our current Terms of Service including all other named policies included by reference therein.</p>
<h2>Acceptance of Terms</h2>
<p>By logging in to any Maikr&nbsp;service, you agree to the Maikr&nbsp;Terms of Service including all other policies incorporated by reference.</p>

</div>


            </div>
        </div>
    </div>
</div>
