<div class="page-header">
    <h2 translate="options.order_history.title"></h2>

    <div class="clearfix"></div>
</div>

<div>
    <span class="">
        {{ 'options.order_history.explain' | translate }}
    <span>
</div>

<table class="orders table" style="margin-top:20px">
    <thead>
        <tr>
        <th class="plan" translate="options.order_history.plan"></th>
        <th class="created-at" translate="options.order_history.order_time"></th>
        <th class="order" translate="options.order_history.order_no"></th>
        <th class="extension_time" translate="options.order_history.extension_time"></th>
        <th class="status" translate="options.order_history.status"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="trade in $root.trades" ng-class="trade.status|tradeStyle">
            <td class="plan">{{trade.plan_caption}}</td>
            <td class="created-at">{{trade.create_time}}</td>
            <td class="order">{{trade.id}}</td>
            
            
            <td class="extension_time">{{trade.extension_time | milliSecondsToText}}</td>
            
            <td class="status" ng-switch="trade.status">
                <span ng-switch-when="INIT" translate="options.order_history.status_name.init"></span>
                <span ng-switch-when="WAIT_BUYER_PAY" translate="options.order_history.status_name.wait_buyer_pay"></span>
                <span ng-switch-when="WAIT_SELLER_SEND_GOODS"
                      translate="options.order_history.status_name.wait_seller_send_goods"></span>
                <span ng-switch-when="WAIT_BUYER_CONFIRM_GOODS"
                      translate="options.order_history.status_name.wait_buyer_confirm_goods"></span>
                <span ng-switch-when="TRADE_FINISHED" translate="options.order_history.status_name.trade_finished"></span>
                <span ng-switch-when="TRADE_CLOSED" translate="options.order_history.status_name.trade_closed"></span>
                <span ng-switch-default>{{ 'options.order_history.status_name.unknown' | translate}}_{{ trade.status }}</span>
            </td>
        </tr>
        <!--
        <tr ng-show="trades && !trades.length">
            <td colspan="5">
                <span class="text-muted">还没有任何充值记录</span>
                <a href="{{$root.payUrl}}" target="_blank">立即充值？</a>
            </td>
        </tr>
        -->
    </tbody>
</table>